@font-face {
	font-family: 'Parisine';
	src: url('/fonts/Parisine.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Parisine';
	src: url('/fonts/Parisine%20Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: 'Parisine', serif;
}


button {
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 10px 15px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #0056b3;
}

button:active {
	transform: translateY(1px);
}

button[disabled] {
	background-color: #ccc !important;
	cursor: not-allowed;
	transform: none !important;
}